<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section id="side" th:fragment="sideFragment">
	<h1 class="hidden">side-bar</h1>
	<span class="middle-title">업무지원시스템</span>
    <ul class="side-list">
        <li>
            <div class="medium-category">
                <i class="fas fa-caret-down"></i>
                <a href="">회의실예약</a>
            </div>
            <div>
                <div class="small-category">
                    <i class="fas fa-caret-right"></i>
                    <a href="">회의실현황</a>
                </div>
                <div class="small-category">
                    <i class="fas fa-caret-right"></i>
                    <a href="">회의실예약신청</a>
                </div>
                <div class="small-category">
                    <i class="fas fa-caret-right"></i>
                    <a href="">회의실예약현황</a>
                </div>
            </div>
        </li>
        <li>
            <div class="medium-category">회의실예약</div>
            <div>
                <div class="small-category">회의실현황</div>
                <div class="small-category">회의실예약신청</div>
                <div class="small-category">회의실예약현황</div>
            </div>
        </li>
    </ul>
</section>

</html>